body {
    font-family: Arial, sans-serif;
    background: #a7a7a7;
    margin: 0;
    padding: 2em;
}
h1 {
    text-align: center;
    color: #333;
    text-shadow: 5px 5px 5px rgb(82, 83, 83);
}
pre {
    background: white;
    height: 15em;
    width: 25em;
    padding: 1em;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(192, 9, 9, 0.2);
    white-space: pre-wrap;
    color: #7c0116;
    font-weight: bold;
}
pre:hover{
    border-color: #7c0116;
}
h2{
    color:rgb(0, 43, 160);
    text-shadow: 5px 5px 5px rgb(82, 83, 83);
}
button {
    background-color: #07af6f;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0.5em;
    border-radius: 4px;
}
button:hover {
    background-color: #7c0116;
    border: 3px solid yellow;
}
.botones{
    margin: 2em;
    text-align:center;
    display:grid;
    width: 25%;
    float: left;
}
.resultados{
    float: left;
    margin-left: 5em;
}
.marco{
    background-color: white;
    height: 25em;
    width: 30em;
    border: 2px solid black;
    float: left;
}
.pantalla{
    border: 3px solid black;
    margin: 3em;
    width: 80%;
}
.bpantalla{
    width: 1em;
    height: 1em;
    border:1px solid black;
    display:inline-block;
    margin-left: 6.5em;
}
.piepant{
    width: 15em;
    height: 2em;
    border: 1px solid black;
    background-color: white;
    margin-top: 26em;
    margin-left: 7em;
}
.piepanta{
    width: 25em;
    height: 2em;
    border: 1px solid black;
    background-color: white;
    margin-left: 2em;
}