*{
    padding: 0;
    margin: 0;
}

/*DELIMITADORES*/
.contenedor1{
    border: 1px solid royalblue;
}
.contenedor2{
    border: 1px solid red;
}

/*CONTENEDOR HEAD*/
#nav{
    background-color: rgb(50, 109, 218);
    width: 100vw;
    height: 20vh;
}
/*CONTENEDOR DE CONTENIDO*/
#content{
    background-color: rgb(123, 219, 123);
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
