@import "tailwindcss";

body{
    @apply bg-gray-400
}

.head-pannel{
    @apply 
    flex 
    flex-row 
    justify-start 
    items-center
    bg-white
    m-2
    pl-2
    gap-x-1
    rounded-sm;
}
.head-left{
    @apply flex flex-col gap-1;
}

.head-main{
    @apply flex-row;
}
.caja{
    @apply w-4 h-4 bg-fuchsia-900 rounded-sm;
}
.caja2{
    @apply w-5 h-5 bg-red-600;
}
.caja3{
    @apply w-5 h-5 bg-green-600;
}