.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.tarjeta{
    width: 300px;
    height: 400px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.tarjeta-fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%), brightness(0.0);
    transition: filter 0.4s ease-out;
}
.tarjeta:nth-child(1) .tarjeta-fondo{background-image: url(img/el-valle.jpg);}
.tarjeta:nth-child(2) .tarjeta-fondo{background-image: url(img/metropolis.jpg);}
.tarjeta:nth-child(3) .tarjeta-fondo{background-image: url(img/la-costa.jpg);}

.tarjeta-overlay{
    position: absolute;
    text-align: center;
    align-content: center;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.85);
    transition: height 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.tarjeta-overlay .tarjeta-titulo{
    color: white;
    font-size: 35px;
}
.tarjeta-descripcion{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease 0.3s;
}
.tarjeta-borde-animado{
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 2px solid white;
    opacity: 0;
    transition: opacity 0.4s ease, 
                top 0.4s ease, 
                left 0.4s ease, 
                right 0.4s ease,
                bottom 0.4s ease;
}
.tarjeta:hover .tarjeta-overlay{
    height: 0%;
}
.tarjeta:hover .tarjeta-fondo{
    filter: grayscale(0%) brightness(1);
}
.tarjeta:hover .tarjeta-descripcion{
    opacity: 1;
}
.tarjeta:hover .tarjeta-borde-animado{
    opacity: 1;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
.tarjeta:hover .tarjeta-titulo{
    opacity: 0;
}