.grid-container{
    display: grid;
    background-color: rgb(24, 16, 16);
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 3vh;
}
.grid-container div{
    text-align: center;
    border: 3px solid black;
    border-radius: 15px;
}
.grid1,.grid3,.grid4,.grid5,.grid6{
    color:white;
}
.grid1{
    grid-column: 1 / 3;
    background-color: brown;
}
.grid2{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-color: yellow;
    color: black;
}
.grid3,.grid4,.grid5{
    background-color: skyblue;
}
.grid6{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    background-color: blueviolet;
}

/*2FORMA*/

.grid-container-2{
    display: grid;
    background-color: rgb(24, 16, 16);
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    margin-bottom: 3vh;
    color:white
}
.grid-container-2 div{
    text-align: center;
    border: 3px solid black;
    border-radius: 15px;
}
.grid1-2{
    grid-column: 1 / 3;
}
.grid2-2{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
.grid3-2{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.grid4-2{
    grid-row: 1 / 3;
    grid-column: 4 / 5;
}
.grid5-2{
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    background-color: red;
}
.grid8-2{
    grid-column: 3 / 5;
}

.grid10-2{
    grid-column: 2 / 3;
    grid-row: 5/ 7;
}

.grid12-2{
    grid-column: 1 / 4;
    grid-row: 7 / 8;
}
/*COLORES 2*/
.grid1-2,.grid8-2{
    background-color: orange;
}
.grid2-2,.grid12-2{
    background-color: blueviolet;
}
.grid3-2,.grid6-2,.grid7-2,.grid9-2,.grid11-2,.grid13-2,.grid14-2{
    background-color: grey;
}
.grid4-2,.grid10-2{
    background-color: rgb(22, 136, 50);
}
