
body{
    background-image: url("https://www.sepe.es/dam/jcr:6eb8067d-f184-4c48-9ff0-b6ba53c532ff/logo-sepe-500-333.png");
    background-repeat: no-repeat;
    background-position: 80%;
}
h1{
    margin-left: 1em;
}
.perfil-container {
    display: flex;          /* Pone el botón y la tabla en línea */
    align-items: flex-start; /* Alinea arriba */
    margin-bottom: 20px;     /* Separación entre perfiles */
    gap: 20px;               /* Espacio entre botón y tabla */
}

.btnPerfil1, .btnPerfil2, .btnPerfil3 {
    width: 150px;
    height: 150px;
    border: none;
    cursor: pointer;
    background-image: url("https://images.icon-icons.com/3106/PNG/512/person_avatar_account_user_icon_191606.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: filter 0.3s ease;
}

/* Cambiar la imagen al hacer clic con la clase .cambiada */
.btnPerfil1.cambiada1 {
  background-image: url("https://cdn.memegenerator.es/imagenes/memes/full/3/41/3411071.jpg");
}

/* Cambiar la imagen al hacer clic con la clase .cambiada */
.btnPerfil2.cambiada2 {
  background-image: url("https://cdn.memegenerator.es/descargar/1903183");
}

/* Cambiar la imagen al hacer clic con la clase .cambiada */
.btnPerfil3.cambiada3 {
  background-image: url("https://scontent.fgrx2-1.fna.fbcdn.net/v/t39.30808-6/466380308_24073013465621288_8464488227567548538_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=0b6b33&_nc_ohc=ThSb5jIMf7YQ7kNvwHl1UOM&_nc_oc=AdmSB1-YJw0abJ1yozvamRz1q31MuH1duWfMo-obYyJt48UXW1RQV4FU0YcM8P6yyYo&_nc_zt=23&_nc_ht=scontent.fgrx2-1.fna&_nc_gid=taAWK1Smn9anAWo5-SBLTw&oh=00_AfdPHEdR5FHzowU1xJlvHcxSx9iJRaoSvVnkUZt5ZSXf_A&oe=68FD3BB1");
}

/* Texto que aparecerá debajo */
.info {
  margin-top: 10px;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  color: #333;
}

